
       
      
    <div
      enableLazyloadImage="true" label="Row" tag="Row" type="component" order justifyContent id="gyeXuKDeXR" data-id="gyeXuKDeXR"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pos-mobile:fixed;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:8px;--pl-mobile:15px;--pb-mobile:4px;--pr-mobile:15px;--top-mobile:0px;--z-mobile:99;--cg:var(--g-s-2xl);--cg-mobile:auto;--pc:start;--pc-mobile:center;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#232323;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gyeXuKDeXR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gJ5CBOR_Nx gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gywqMJocfM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gywqMJocfM "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px 0px 0px 0px;--bc:var(--g-c-bg-3, bg-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mt-mobile:auto;--mb-mobile:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggywqMJocfM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gd5-qxl19y gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gwQBjJ-mYF" data-id="gwQBjJ-mYF"
        style="--bs:solid;--bw:0px 1px 0px 1px;--bc:rgba(255, 255, 255, 0.4);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--mt-mobile:auto;--mb-mobile:auto;--pl-mobile:16px;--pr-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwQBjJ-mYF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUmrX6U0zi gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYavVn8Qvi">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gYavVn8Qvi "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:solid;--bw:0px 0px 0px 0px;--bc:var(--g-c-bg-3, bg-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mt-mobile:auto;--mb-mobile:auto"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYavVn8Qvi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gq6ZQVpELG gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ge2geuuQar">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ge2geuuQar "
        style="--tt:default;--ta:left;--ta-mobile:right;--bs:solid;--bw:0px 0px 0px 0px;--bc:var(--g-c-bg-3, bg-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mt-mobile:auto;--mb-mobile:auto"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gge2geuuQar_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    