<div id="cart-icon-bubble" class="count_item absolute -top-0.5 right-0">
  <div class="bg-[rgba(var(--colors-cart))] text-[rgba(var(--colors-cart-text))] font-medium h-5 w-5 rounded-full text-[9px]{% if cart == empty %} hidden{% endif %}">
    {%- if cart.item_count < 100 -%}
      <span class="h-full flex items-center justify-center mt-[1px]" aria-hidden="true">{{ cart.item_count }}</span>
    {%- else -%}
      <span class="h-full flex items-center justify-center mt-[1px]">99+</span> 
    {%- endif -%}
  </div>
</div>