

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559587550713414441.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559587550713414441.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559587550713414441.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559587550713414441.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559587550713414441.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559587550713414441.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559587550713414441.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559587550713414441.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559587550713414441.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559587550713414441.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559587550713414441.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559587550713414441.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559587550713414441.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559587550713414441.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559587550713414441.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559587550713414441.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559587550713414441.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559587550713414441.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559587550713414441.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559587550713414441.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559587550713414441.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559587550713414441.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559587550713414441.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559587550713414441.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559587550713414441.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559587550713414441.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559587550713414441.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559587550713414441.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-559587550713414441.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559587550713414441.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559587550713414441.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-559587550713414441.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559587550713414441.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559587550713414441.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-559587550713414441 .gp-relative{position:relative}.gps-559587550713414441 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559587550713414441 .gp-mb-0{margin-bottom:0}.gps-559587550713414441 .gp-flex{display:flex}.gps-559587550713414441 .gp-grid{display:grid}.gps-559587550713414441 .\!gp-hidden{display:none!important}.gps-559587550713414441 .gp-hidden{display:none}.gps-559587550713414441 .gp-h-\[28px\]{height:28px}.gps-559587550713414441 .gp-h-\[56px\]{height:56px}.gps-559587550713414441 .gp-w-full{width:100%}.gps-559587550713414441 .gp-max-w-full{max-width:100%}.gps-559587550713414441 .gp-flex-col{flex-direction:column}.gps-559587550713414441 .gp-items-center{align-items:center}.gps-559587550713414441 .gp-justify-center{justify-content:center}.gps-559587550713414441 .gp-gap-2{gap:8px}.gps-559587550713414441 .gp-gap-y-0{row-gap:0}.gps-559587550713414441 .gp-overflow-hidden{overflow:hidden}.gps-559587550713414441 .gp-whitespace-nowrap{white-space:nowrap}.gps-559587550713414441 .gp-border{border-width:1px}.gps-559587550713414441 .gp-border-\[\#D6D6D6\]{--tw-border-opacity:1;border-color:rgb(214 214 214/var(--tw-border-opacity))}.gps-559587550713414441 .gp-bg-\[\#f4f4f4\]{--tw-bg-opacity:1;background-color:rgb(244 244 244/var(--tw-bg-opacity))}.gps-559587550713414441 .gp-text-\[14px\]{font-size:14px}.gps-559587550713414441 .gp-font-semibold{font-weight:600}.gps-559587550713414441 .gp-leading-\[24px\]{line-height:24px}.gps-559587550713414441 .gp-text-\[\#212121\]{--tw-text-opacity:1;color:rgb(33 33 33/var(--tw-text-opacity))}.gps-559587550713414441 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559587550713414441 .gp-duration-200{transition-duration:.2s}.gps-559587550713414441 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-559587550713414441 .tablet\:\!gp-hidden{display:none!important}.gps-559587550713414441 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559587550713414441 .mobile\:\!gp-hidden{display:none!important}.gps-559587550713414441 .mobile\:gp-hidden{display:none}}.gps-559587550713414441 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gZifITsxXZ" data-id="gZifITsxXZ"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZifITsxXZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gHTr5FEDi1 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="gZGW5Ll8Ze ">
      
    {% assign app_blocks = section.blocks | where: "type", "@app" %}

    {% assign filtered_block_ids_string = '' %}

    {% for block in app_blocks %}
      {% unless block.id contains 'gp_app' %}
        {% unless filtered_block_ids_string == '' %}
          {% assign filtered_block_ids_string = filtered_block_ids_string | append: ',' %}
        {% endunless %}
        {% assign filtered_block_ids_string = filtered_block_ids_string | append: block.id %}
      {% endunless %}
    {% endfor %}

    {% assign filtered_block_ids = filtered_block_ids_string | split: ',' %}

    {% if filtered_block_ids[0] %}
      <div
        class="third-party-slot gp-w-full "
      >
        {% for block in app_blocks %}
          {% for filtered_block_id in filtered_block_ids %}
            {% if block.type == '@app' and forloop.index0 == 0 and block.id == filtered_block_id %}
              {% render block %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% elsif request.design_mode or request.visual_preview_mode %}
      <div
        class="third-party-slot gp-bg-[#f4f4f4] gp-border gp-border-[#D6D6D6] gp-flex gp-h-[56px] gp-w-full gp-items-center gp-justify-center gp-border-box "
      >
        <div
          class="gp-h-[28px] gp-overflow-hidden gp-whitespace-nowrap gp-flex gp-justify-center gp-items-center gp-gap-2"
          style="flex-flow:row wrap"
        >
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.6475 5.16194C19.6416 5.1148 19.6197 5.0713 19.5857 5.03911C19.5516 5.00692 19.5076 4.9881 19.4614 4.98597C19.3835 4.98597 17.8469 4.95397 17.8469 4.95397C17.8469 4.95397 16.5588 3.67419 16.4342 3.5311C16.3104 3.40312 16.0619 3.43512 15.9684 3.46711L15.3166 3.67508C15.2361 3.40491 15.1323 3.14259 15.0067 2.89121C14.5566 1.99536 13.8727 1.51544 13.0659 1.51544C13.0044 1.51544 12.9577 1.51544 12.8954 1.53144C12.8642 1.49945 12.8486 1.46745 12.8175 1.45145C12.4608 1.06752 12.0107 0.875552 11.467 0.891549C10.4282 0.923543 9.38772 1.70741 8.53419 3.08318C7.94467 4.05901 7.49453 5.27392 7.3543 6.21776C6.15969 6.6017 5.32087 6.87365 5.29057 6.87365C4.68461 7.06562 4.66903 7.08161 4.59199 7.67351C4.56082 8.12144 2.97754 20.7415 2.97754 20.7415L16.2636 23.1091L22.022 21.6374C22.0064 21.6374 19.6631 5.27392 19.6475 5.16194ZM14.6492 3.89904C14.3062 4.00572 13.9648 4.11772 13.6251 4.23498C13.6251 3.69108 13.5472 2.92321 13.3143 2.28331C14.1064 2.41129 14.4942 3.33914 14.6492 3.89904ZM12.9265 4.44206C12.2279 4.66602 11.4679 4.90598 10.707 5.14594C10.9243 4.29808 11.3277 3.46623 11.8245 2.90632C12.033 2.66965 12.2863 2.47913 12.569 2.34641C12.8806 2.9712 12.9421 3.85105 12.9265 4.44206ZM11.4982 1.61143C11.7466 1.61143 11.9483 1.65942 12.1197 1.7874C11.8127 1.95192 11.5387 2.17444 11.3121 2.44329C10.6455 3.17916 10.1331 4.31408 9.93135 5.4179C9.29423 5.62586 8.67356 5.81783 8.11521 5.9938C8.48744 4.25009 9.89933 1.65942 11.4982 1.61143Z" fill="#95BF47"/>
            <path d="M19.4652 4.94733C19.3856 4.94733 17.816 4.91527 17.816 4.91527C17.816 4.91527 16.4986 3.63266 16.3721 3.48837C16.3266 3.43975 16.264 3.41098 16.1978 3.4082V23.1096L22.0833 21.6346L19.6714 5.12369C19.6404 5.01147 19.5448 4.94733 19.4652 4.94733Z" fill="#5E8E3E"/>
            <path d="M13.5575 8.51577L12.8029 10.8908C12.8029 10.8908 11.9602 10.5663 10.9599 10.6253C9.48595 10.6991 9.48595 11.4809 9.48595 11.6727C9.57404 12.7348 12.89 12.9709 13.0828 15.4631C13.2238 17.4251 11.8545 18.7675 9.85396 18.8708C7.46778 18.9733 6.15137 17.7939 6.15137 17.7939L6.66032 15.9794C6.66032 15.9794 7.99435 16.8203 9.0465 16.7613C9.73162 16.7318 9.9949 16.245 9.95967 15.9204C9.85396 14.5337 7.15165 14.6223 6.97645 12.3365C6.83551 10.4188 8.32712 8.48626 11.6265 8.30924C12.9076 8.23548 13.5575 8.51577 13.5575 8.51577Z" fill="white"/>
          </svg>
          <div class="gp-text-[14px] gp-text-[#212121] gp-font-semibold gp-leading-[24px]">Shopify App</div>
        </div>
      </div>
    {% else %}
      <div class="gp-hidden"></div>  
    {% endif %}
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-559587550713414441 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c839d4-19/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559573051172193065&sectionId=559587550713414441)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
