

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559587550713348905.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-559587550713348905.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559587550713348905.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559587550713348905.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559587550713348905.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559587550713348905.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559587550713348905.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559587550713348905.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559587550713348905.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559587550713348905.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559587550713348905.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559587550713348905.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559587550713348905.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559587550713348905.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559587550713348905.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-559587550713348905.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559587550713348905.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559587550713348905.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559587550713348905.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559587550713348905.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559587550713348905.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559587550713348905.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559587550713348905.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559587550713348905.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559587550713348905.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559587550713348905.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559587550713348905.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559587550713348905.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559587550713348905.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-559587550713348905.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559587550713348905.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559587550713348905.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559587550713348905.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559587550713348905.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559587550713348905.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559587550713348905.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559587550713348905.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559587550713348905.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559587550713348905.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559587550713348905.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-559587550713348905.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-559587550713348905.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559587550713348905.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559587550713348905.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559587550713348905.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-559587550713348905.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-559587550713348905.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559587550713348905.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559587550713348905.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-559587550713348905.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559587550713348905.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559587550713348905.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-559587550713348905 .gp-relative{position:relative}.gps-559587550713348905 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559587550713348905 .gp-mb-0{margin-bottom:0}.gps-559587550713348905 .gp-flex{display:flex}.gps-559587550713348905 .gp-grid{display:grid}.gps-559587550713348905 .gp-contents{display:contents}.gps-559587550713348905 .\!gp-hidden{display:none!important}.gps-559587550713348905 .gp-hidden{display:none}.gps-559587550713348905 .gp-h-full{height:100%}.gps-559587550713348905 .gp-w-full{width:100%}.gps-559587550713348905 .gp-max-w-full{max-width:100%}.gps-559587550713348905 .gp-flex-col{flex-direction:column}.gps-559587550713348905 .gp-gap-y-0{row-gap:0}.gps-559587550713348905 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559587550713348905 .gp-duration-200{transition-duration:.2s}.gps-559587550713348905 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-559587550713348905 .tablet\:\!gp-hidden{display:none!important}.gps-559587550713348905 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559587550713348905 .mobile\:\!gp-hidden{display:none!important}.gps-559587550713348905 .mobile\:gp-hidden{display:none}}.gps-559587550713348905 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gcRhZmt1Sd" data-id="gcRhZmt1Sd"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcRhZmt1Sd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g57V5vwqOA gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gtfBtzMnAF"
    role="presentation"
    class="gp-group/image gtfBtzMnAF"
    style="--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_556700909132842177-f7f9808c-6c6d-4430-b752-e54934d0743d_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xMDAwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_556700909132842177-f52b3769-a267-424d-9078-c647044a0ddc_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNTAwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNTAwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_556700909132842177-f52b3769-a267-424d-9078-c647044a0ddc.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-559587550713348905 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c839d4-19/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559573051172193065&sectionId=559587550713348905)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
