<div id="sotp-widget" class="sotp-widget otp-loader">&nbsp;</div>
<img style="width: 1px;height: 1px;" width="1" height="1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
{% schema %}
  {
    "name": "Simply OTP Login",
    "tag": "section",
    "class": "section",
    "templates": ["customers/login"]
  }
{% endschema %}